# ------------------------------------------------------------------
# Arquivo: gofora/cegs-app/.gitignore
# Descrição: Arquivos/Pastas Ignoradas pelo Git
# Data: 28.09.2025 
# ------------------------------------------------------------------

# Logs Temporários
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Pastas (Gerados por Editores de Código)
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
